@import "tailwindcss";

html
{
    scroll-behavior: smooth;
}
:root
{
    --main-color:#00a78e;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.2);
    --black-900:#000;
    --black-400:#646f87;
    --black-100:#f7f7f7;
    --white:#fff;
    --black-alpha-100:rgba(0,0,0,.05);
}
body
{
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* use for Our hassel-free painting process */
@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}
.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
/* use for What's Up section  */
